<div id="content">
<div class="signup_wrap">

 <h2>
            Greetings {{ person.name|upper }}
        </h2>
<h4>Welcome to Purplle - Log In, Sign Up or Learn More</h4>
<h4>If you are a registered user, please login</h4>
<div class="signin_form">
 
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" value="" />
  <span class="error">*</span>
  <label for="password">Password:</label>
  <input type="password" id="pass" name="password" value="" />
  <span class="error">*</span>
  <input type="submit" class="submit" id="search" value="Sign in" />
  <div id="tag" style="margin-left:64px;margin-top:5px;">
  
  </div>
  
</div><!--<div class="signin_form">-->

</div><!--<div class="signup_wrap">-->
<h4>If You don't have an account, please sign up.</h4></br>
<input type="submit" class="submit" id="signup" value="Sign up" />
</div><!--<div id="content">-->